html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#messagesList {
  height: 300px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  overflow: auto;
  overflow-y: scroll;
  border-radius: 10px;
}

.container {
  margin: 0;
}

/* #box1 {
  box-sizing: border-box;
  height: 100%
} */

/* allow for text to overflow along the y-axis, behavior is set equal to scroll*/
/* overflow-y: scroll; */
