* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #EBE8DA;
  /* background-size: 2%; */
  /* background-color: #EBE8DA; */
  background-image: url(../img/windows_xp.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  color: black;
}

.main-body {
  width: 100%;
  font-family:monospace;
  font-size: medium;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.usersContainer {
  float: left;
  width: 18%;
  margin: 2%;
  margin-right: 1%;
  background-color: #dedbcc;
  border-bottom: solid #3F4CBA 3px;
  border-right: solid #3F4CBA 3px;
  border-top: solid #344AFB 3px;
  border-left: solid #344AFB 3px;
  border-radius: 10px 10px 0px 0px;
  box-sizing: border-box;
}

.publicContainer {
  float: left;
  width: 50%;
  margin: 2%;
  margin-right: 1%;
  background-color: #dedbcc;
  border-bottom: solid #3F4CBA 3px;
  border-right: solid #3F4CBA 3px;
  border-top: solid #344AFB 3px;
  border-left: solid #344AFB 3px;
  border-radius: 10px 10px 0px 0px;
  box-sizing: border-box;
}

.privateContainer {
  float: left;
  width: 22%;
  margin: 2%;
  background-color: #dedbcc;
  border-bottom: solid #3F4CBA 3px;
  border-right: solid #3F4CBA 3px;
  border-top: solid #344AFB 3px;
  border-left: solid #344AFB 3px;
  border-radius: 10px 10px 0px 0px;
  box-sizing: border-box;
}

.heading{
  text-align: left;
  margin: 0;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  background-image: linear-gradient(to bottom right, #448EEA, #3F4CBA);
  border-bottom: solid #152eea 2px; 
  border-radius: 7px 7px 0px 0px;
  font-size: 15px;
  color: white;
  height: 40px;
  width: 100%;
  padding: 5px;
  padding-top: 10px;
}

.inner-white-box {
  background-color: white;
  width: 94%;
  margin-left: 3%;
  margin-bottom: 3%;
  padding-bottom: 0.5%;
  border-left: solid #686868 3px;
  border-top: solid #686868 3px;
  border-bottom: solid #c5c5c5 3px;
  border-right: solid #c5c5c5 3px;
}

.users-box ul {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 0;
  padding-left: 15px;
  overflow: auto;
  overflow-y: scroll;
}

.users-box {
  margin-left: 6%;
  width: 88%;
  height: 82%;
  margin-bottom: 10%;
}

/* remove default bullets, replace with custom green bullets */
#online-users {
  list-style: none; 
}
/* custom bullets for online users: */
#online-users li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: rgb(6, 142, 6);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

#online-users li:hover {
  text-decoration: underline; /* not sure if this is the right choice */
  cursor: pointer;
}

.private-box {
  margin-left: 5%;
  width: 88%;
  height: 420px;
  overflow: auto;
  overflow-y: scroll;
}

#messagesList {
  height: 355px;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-top: 1%;
  padding-bottom: 2%;
  overflow: auto;
  overflow-y: scroll;
  margin-left: -25px;
  list-style: none;
}

#messageList * {
  overflow-anchor: none;
}

#anchor {
  overflow-anchor: auto;
  height: 2px;
}

#messageList li {
  margin-left: -20px;
}

/* main chatroom message style */
.chatroom-sender {
  font-weight: bold;
}

.message-input {
  display: flex;
  margin-left: 3%;
  margin-bottom: 3%;
  width: 94%;
  align-items: center; 
}

.message-input input[type="text"] {
  border-left: solid #686868 2px;
  border-top: solid #686868 2px;
  border-bottom: solid #c5c5c5 2px;
  border-right: solid #c5c5c5 2px;
  flex: 1; 
  margin-right: 10px; 
  height: 28px; /* change the height of the text input field */
}

.message-input input[type="submit"] {
  border-right: solid #686868 2px;
  border-bottom: solid #686868 2px;
  border-top: solid #c5c5c5 2px;
  border-left: solid #c5c5c5 2px;
  flex: 0; 
}

.private-chat-form {
  width: 97%;
  height: 50px;
  outline: none;
  outline-color: #dedbcc;
  margin: auto;
}
.private-chat-box {
  border-bottom: solid #3F4CBA 3px;
  border-right: solid #3F4CBA 3px;
  border-top: solid #344AFB 3px;
  border-left: solid #344AFB 3px;
  border-radius: 7px 7px 0px 0px;
  height: auto;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  resize: none;
  overflow: auto;
  background-color: #dedbcc;
}
.private-chat-header {
  width: 100%;
  font-size: 1rem;
  padding: 3px;
  color: white;
  background-image: linear-gradient(to bottom right, #448EEA, #3F4CBA);
  border-bottom: solid #152eea 2px; 
  border-radius: 4px 4px 0px 0px;
}
.message-window {
  border: solid;
  border-width: 1px;
  border-color: #dedbcc;
  width: 97%;
  height: 150px;
  resize: none;
  overflow: auto;
  border-radius: 1px;
  background-color: white;
  margin: auto;
  margin-bottom: 5px;
  list-style: none;
}

/* private message styles */
.p-message-author {
  font-weight: bold;
}

/* nudge messages in private window slightly to the left */
.message-window li {
  margin-left: -20px;
}

.btn-close {
  float: right;
  background-image: url('../img/close-icon.svg');
  color: red;
}


/* #box1 {
  box-sizing: border-box;
  height: 100%
} */

/* allow for text to overflow along the y-axis, behavior is set equal to scroll*/
/* overflow-y: scroll; */

.card-body {
  /* display: flex; */
  flex-direction: row;
  padding: 0;
  margin: 0 15px;
}

.card-body p {
  width: 200px;
  display: flex;
  margin-top: 5%;
  color: white;
}

.card-body input[type="submit"] { 
  margin-top: 15%;
  border-bottom: solid #313131 2px;
  border-right: solid #313131 2px;
  border-top: solid #a1a1a1 2px;
  border-left: solid #a1a1a1 2px;
}

.account-body {
  /* display: flex; */
  flex-direction: row;
  padding: 0;
  margin: 0 15px;
}

.account-body p {
  width: 200px;
  display: flex;
  margin-top: 5%;
  color: white;
}

.account-body input[type="submit"] { 
  margin-left: 42%;
  border-bottom: solid #313131 2px;
  border-right: solid #313131 2px;
  border-top: solid #a1a1a1 2px;
  border-left: solid #a1a1a1 2px;
}

.header-body {
  color: white;
  display: flex;
  flex-direction: row;
  margin-right: 2%;
}

.header-body p {
  width: 200px;
  display: flex;
  margin-top: 5%;
  color: white;
}

.header-body input[type="submit"] { 
  margin-top: 15%;
  border-bottom: solid #313131 2px;
  border-right: solid #313131 2px;
  border-top: solid #a1a1a1 2px;
  border-left: solid #a1a1a1 2px;
}

#nav-container {
  display: flex;
  flex-direction: row;
  flex-direction: row-reverse;
  /* background-color: #344AFB; */
  background-image: linear-gradient(to bottom right, #448EEA, #3F4CBA);
  border-bottom: solid #152eea 2px; 
  height: 55px;
}

.nav-item {
  margin-left: 2.5%;
}

.nav-item a{
  color: white;
}

.header-img {
  height: 60px;
  margin-left: -5px;
  /* background-color: greenyellow; */
}

#nav-container a{
  color: white;
}

.navbar-brand {
  font-size: 250%;
  padding-left: 1%;
}

.footer {
  color: white;
  border: none;
  padding-left: 2%;
  text-align: left;
}

.footer a {
  color: white;
}

/* LOGIN & REGISTER FORM */
.register-card, .login-card {
  background-color: #dedbcc;
  border-bottom: solid #3F4CBA 3px;
  border-right: solid #3F4CBA 3px;
  border-top: solid #344AFB 3px;
  border-left: solid #344AFB 3px;
  border-radius: 7px 7px 0px 0px;
  box-sizing: border-box;
  width: 80%;
}

/* the divider between logo and form */
.divider {
  width: 95%;
  height: 1px;
  align-self: center;
  border-left: solid #707070 3px;
  border-top: solid #6b6b6bc7 3px;
  border-bottom: solid #e3ddddc7 3px;
  border-right: solid #e3ddddc7 3px;
  margin-bottom: 20px;

}

.account-input {
  background-color: rgb(239, 238, 238);
  border-left: solid #313131 3px;
  border-top: solid #313131 3px;
  border-bottom: solid #e3dddd 3px;
  border-right: solid #e3dddd 3px;
  width: 100%;
}

.account-label {
  display: inline-block;
  width: 85px;
  text-align: left;
}

.login-banner, .register-banner, .error-banner {
  width: 100%;
  /* margin-left: -13px; */
  background-image: linear-gradient(to bottom right, #448EEA, #3F4CBA);
  border-bottom: solid #152eea 2px; 
  border-radius: 4px 4px 0px 0px;
  color: white;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.login-links, .register-links {
  /* text-align: right; */
  /* width: 80%; */
  width: 100%;
}

.login-links a {
  padding: 10px;
  padding-left: 18%;
  text-align: center;
} 

.register-links a {
  padding: 10px;
  padding-left: 25%;
  text-align: center;
}

.btn-login, .btn-register {
  background-image: linear-gradient(to bottom right, #448EEA, #3F4CBA);
  color: white;
  font-weight: bold;
  width: 95%;
  height: 45px;
  margin: 10px auto;
  /* margin-left: 50px; */
}


.login-footer a, .register-footer a {
  padding-left: 15px;
  padding-right: 15px;
}

/* VALIDATION ERROR CARDS */
.error-card {
  background-color: #dedbcc;
  border-bottom: solid #3F4CBA 3px;
  border-right: solid #3F4CBA 3px;
  border-top: solid #344AFB 3px;
  border-left: solid #344AFB 3px;
  box-sizing: border-box;
}
.close-error a{
  text-decoration: none;
  font-weight: bold;
  margin-right: 10px;
  color: white;
}

.close-error a:hover{
  color: rgb(160, 160, 160);
}

