@{
  ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity;
@using Eol.Models;
@model Eol.Models.ApplicationUser
<audio id="loginAudio" src="~/img/modem.mp3" preload="auto" style="display: none"></audio>
<div class="row justify-content-center register-page">

  <div class="container col-4">
    <div class="card">
      <div class="card-header">
        @if (User.Identity.IsAuthenticated)
        {
          <h4>@User.Identity.Name's Account</h4>
        }
        else
        {
          <h4>Account</h4>
        }
      </div>
      <div class="account-body" style="text-align:center;">
      </div>
      <div class="account-body">
        @if (User.Identity.IsAuthenticated)
        {
          <p>Going Somewhere?</p>
          @using (Html.BeginForm("LogOff", "Account"))
          {
            <input type="submit" class="" value="Log off" />
          }
        }
        else
        {
          <div class="account-links">
            <p>@Html.ActionLink("Log In", "Login")</p>
            <p>@Html.ActionLink("Register New Account", "Register")</p>
            <br>
          </div>
        }
      </div>
      @if (User.Identity.IsAuthenticated)
      {
        <hr>
        <div class="container">
          <ul>
            <li><strong>Email:</strong> @Model.Email </li>
            <li><strong>Bio:</strong> Loving Life </li>
          </ul>
        </div>
        <hr>
        <div class="container">
          <h5 id="heading">Friends:</h5>
          <p>Check out a list of your friends below!(functionality WIP)</p>
          <ul>
            <li><a href="#">These Links Are Fake For Now</a></li>
            <li><a href="#">These Links Are Fake For Now</a></li>
            <li><a href="#">These Links Are Fake For Now</a></li>
            <li><a href="#">These Links Are Fake For Now</a></li>
          </ul>
        </div>
      }
      <!-- STEP 1: Print a list of users below who exist in a friendship join table -->
      <!-- STEP 2: Write a loop that then prints a list of all users who are online -->
      <!-- STEP 3: Users should be able to clink on the names and join private chats with said friend  -->
      <!-- STEP 4: Talk to your buds about high fives and other things that friends do-->
    </div>
  </div>
  <script>
    // JavaScript code to play the audio
    var audio = document.getElementById('loginAudio');
    if (audio) {
      audio.volume = 0.25;
      setTimeout(function () {
        audio.play();
      }, 100); // Adjust the delay time as needed
    }
  </script>
