@{
    ViewData["Title"] = "Home Page";
}

<div class="row justify-content-center register-page">

  <div class="container col-4">
    <div class="card">
      <div class="card-header">
        Manage Account
      </div>
      <div class="card-body" style="text-align:center;">

        <hr/>
      </div>
      <div class="card-body">
        @if (User.Identity.IsAuthenticated)
        {
          <p>Hello @User.Identity.Name!</p><br>
          @using(Html.BeginForm("LogOff", "Account"))
          {
             <br><input type="submit" class="btn btn-primary" value="Log off" />
          }
        }
        else 
        {
          <p>@Html.ActionLink("Register New Account", "Register")</p>
          <p>@Html.ActionLink("Log In", "Login")</p>
        }
      </div><hr>
      <div class="container">
      <h5 id="heading">Account Details:</h5>
  
      <ul>
      <li><strong>Email:</strong> YoMamasHouse@Gottem.com </li>
      <li><strong>Bio:</strong> Loving Life </li>
      </ul>
      <hr>
    </div>
    <div class="container">
      <h5 id="heading">Friends:</h5>
      <p>Check out a list of your friends below!</p>
      <ul>
      <li><a href="#">These Links Are Fake AF For Now</a></li>
      <li><a href="#">Chris Farley</a></li>
      <li><a href="#">Matt Foley</a></li>
      <li><a href="#">Tommy Callahan</a></li>
      <li><a href="#">Mike Donnelly</a></li>
      </ul>
    </div>
    <!-- STEP 1: Print a list of users below who exist in a friendship join table -->
    <!-- STEP 2: Write a loop that then prints a list of all users who are online -->
    <!-- STEP 3: Users should be able to clink on the names and join private chats with said friend  -->
    <!-- STEP 4: Talk to your buds about high fives and other things that friends do-->
  </div>
</div>