@{
    ViewData["Title"] = "Home Page";
}
<!-- // atSymbol Page was here (if anything breaks) -->
<div>
    <div class="usersContainer">
        <h5>Online Users</h5>
        <ul id="online-users"></ul>
    </div>
        
    <div class="publicContainer">
        <ul id="messagesList"></ul>
        <form id="chat-form">
            <input type="hidden" id="userInput" value="@User.Identity.Name" />
            <input type="text" class="w-100" id="messageInput" placeholder="Type Message Here" />
            <input type="submit" id="sendButton" value="Send Message" />
        </form>
    </div>
       
       
    <div class="privateContainer">
        <!-- <h3>Private Chat</h3> -->
        <div id="private-chat-container">            
            <!-- class="private-chat-box" for the private chats that are made-->
        </div>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
@* The Following script is what will update our main chat page: *@
<script src="~/js/chat.js"></script>
@* <script src="~/js/pvtchat.js"></script> *@
