@{
    ViewData["Title"] = "Home Page";
}
<!-- // atSymbol Page was here (if anything breaks) -->
<div class="main-body"> 
    <div class="usersContainer"> 
        <h5 class="heading">Online Users</h5>
        <div class="users-list">
            <ul id="online-users"></ul>
        </div>
    </div>
        
    <div class="publicContainer"> 
        <h5 class="heading">Public Chat</h5>
        <div class="public-chat">
            <ul id="messagesList"></ul>
            <form id="chat-form" class="message-input">
                <input type="hidden" id="userInput" value="@User.Identity.Name" />
                <input type="text" class="w-100" id="messageInput" placeholder="Type Message..." />
                <input type="submit" id="sendButton" value="Send" />
            </form>
        </div>
    </div>
    <div class="privateContainer"> 
        <h5 class="heading">Private Chats</h5>
        <!-- <h3>Private Chat</h3> -->
        <div id="private-chat-container">            
            <!-- class="private-chat-box" for the private chats that are made-->
        </div>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
@* The Following script is what will update our main chat page: *@
<script src="~/js/chat.js"></script>
@* <script src="~/js/pvtchat.js"></script> *@
