@{
    ViewData["Title"] = "Privacy Policy";
}
<!-- <h1>@ViewData["Title"]</h1> -->

<div class="row privacy-policy">
    <div class="container col-6">
        <div class="card privacy">
            <div class="card-header">
                <h3>Privacy Policy</h3>
            </div>
            <div class="card-body">
                <p>
                <br/>
                At EOL, we value your privacy and are committed to safeguarding your personal information. This Privacy Policy explains how we collect, use, and protect the data you provide while using our chat application.
                </p>
            </div>
            <div class="card-body">
                <b>Information Collecting</b>
            </div>
            <div class="card-body">
                <ol>
                    <li>User Account Information: When you create an account, we collect your username, password which is securely encrypted, and email address.</li>
                    <li>Profile Information: You have the option to provide additional information in your profile, such as a profile picture or a brief bio.</li>
                    <li>Usage Data: We collect information about your interactions within the application, such as the chats you participate in and your online status.</li>
                </ol>
            </div>
            <div class="card-body">
                <b>How We Use Your Data</b>
            </div>
            <div class="card-body">
                <ol>
                    <li>Provide the Service: We use your account information to authenticate your identity and enable you to access our chat application.</li>
                    <li>Personalize Your Experience: If you choose to provide additional profile information, we may use it to customize your experience within the application.</li>
                    <li>Improve Our Service: We analyze usage data to enhance the functionality and performance of our application.</li>
                </ol>
            </div>
            <div class="card-body">
                <b>Data Retention</b>
            </div>
            <div class="card-body">
                EOL does not store or retain the content of your chat messages. We believe in respecting your privacy, and your chat conversations are treated as ephemeral data.
            </div>
            <br/>
            <div class="card-body">
                <b>Information Sharing</b>
            </div>
            <div class="card-body">
                EOL does not share your personal information with third parties. Your data is kept strictly confidential.
            </div>
            <br/>
            <div class="card-body">
                <b>Cookies & Similar Technology</b>
            </div>
            <div class="card-body">
                We may use cookies to improve your experience while using the application. These cookies are solely for enhancing your user experience.
            </div>
            <br/>
            <div class="card-body">
                <b>Contact Us</b>
            </div>
            <div class="card-body">
                If you have any questions, concerns, or requests regarding your data or this Privacy Policy, please contact our support team at support@notarealemail.com.
            </div>
            <br/>
            <div class="card-body">
                <b>Changes to the Privacy Policy</b>
            </div>
            <div class="card-body">
                EOL may update this Privacy Policy to reflect changes in our practices or for other operational, legal, or regulatory reasons. We will notify users of any material changes.
            </div>
            <br/>
            <div class="card-body">
                <b>Conclusion</b>
            </div>
            <div class="card-body">
                Your privacy is important to us, and we are dedicated to ensuring the security and confidentiality of your personal information. EOL is here to enhance your online learning experience by providing a safe and secure chat environment.
            </div>
            <br/>
        </div>
        <br/>
        <br/>
    </div>
</div>
